@model GroupModel

@{ 
    ViewBag.Title = "Create Group";
}

<form asp-controller="Groups" asp-action="Create" method="post">
    <div>
        <label asp-for="Name">Name: </label>
        <input asp-for="Name" />
    </div>
    <div>
        <label asp-for="MajorSubject">Major Subject: </label>
        <input asp-for="MajorSubject" />
    </div>
    <div>
        <label asp-for="Year">Year: </label>
        <input asp-for="Year" />
    </div>
    <div>
        <label asp-for="StudentCount">Student Count: </label>
        <input asp-for="StudentCount" />
    </div>
    <div>
        <label asp-for="Department.Id">Department: </label>
        <select asp-for="Department.Id"/>
    </div>
    <div>
        <button type="submit">Create</button>
    </div>
</form>