@model GroupCreateViewModel

@{ 
    ViewBag.Title = "Create Group";
}

<form asp-controller="Groups" asp-action="Create" method="post">
    <div>
        <label asp-for="Group.Name">Name: </label>
        <input asp-for="Group.Name" />
    </div>
    <div>
        <label asp-for="Group.MajorSubject">Major Subject: </label>
        <input asp-for="Group.MajorSubject" />
    </div>
    <div>
        <label asp-for="Group.Year">Year: </label>
        <input asp-for="Group.Year" />
    </div>
    <div>
        <label asp-for="Group.StudentCount">Student Count: </label>
        <input asp-for="Group.StudentCount" />
    </div>
    <div>
        <label asp-for="DepartmentId">Department: </label>
        <select asp-for="DepartmentId" asp-items="@(new SelectList(ViewBag.Departments, "Id", "Name"))"></select>
    </div>
    <div>
        <input type="submit">
    </div>
</form>