@model GroupsFkViewModel

@{ 
    ViewBag.Title = "Create Group";
}

<form asp-controller="Groups" asp-action="Create" method="post">
    <div>
        <label asp-for="Group.Name">Name: </label>
        <input asp-for="Group.Name" />
    </div>
    <div>
        <label asp-for="Group.MajorSubject">Major Subject: </label>
        <input asp-for="Group.MajorSubject" />
    </div>
    <div>
        <label asp-for="Group.Year">Year: </label>
        <input asp-for="Group.Year" />
    </div>
    <div>
        <label asp-for="Group.StudentCount">Student Count: </label>
        <input asp-for="Group.StudentCount" />
    </div>
    <div>
        <label asp-for="GroupDepartment.Id">Department: </label>
        <select asp-for="GroupDepartment.Id"/>
    </div>
    <div>
        <button type="submit">Create</button>
    </div>
</form>